@import "variables";
@import "navbar";
@import "homeVideo";
@import "homeSolutions";
@import "homeHowItWorks";
@import "homephrase";
@import "partners";
@import "CTA";


/*---GENERAL---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}

