/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
nav {
    background-color: rgba(65, 204, 255, 0.95);
}

nav ul {
    /* MOBILE FIRST*/
}

nav ul .nav-list1>.relyer-logo {
    width: 150px;
    height: 140px;
    margin-left: 30px;
    margin-top: 20px;
}

nav ul .nav-list2,
nav ul .nav-list3 {
    display: none;
}

nav>.language {
    display: none;
}

nav>.hamburguer {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: block;
    z-index: 30;
}

nav>.hamburguer>span {
    display: block;
    background-color: #010913;
    width: 100%;
    height: 6.5px;
    border-radius: 25px;
    margin-top: 10px;
}

nav .responsive-nav {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
    background-color: #1A3256;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav .responsive-nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    height: 70px;
    gap: 60px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

nav .responsive-nav>ul>.responsive1:hover,
nav .responsive-nav>ul>.responsive2:hover,
nav .responsive-nav>ul>.responsive3:hover,
nav .responsive-nav>ul>.responsive4:hover {
    color: #BBAAE8;
}

/* DESK */
@media (min-width: 1200px) {

    /* REPEATED CODE FUNCTION   */
    nav.sticky>ul>.nav-list3>.languagesticky,
    nav>.language {
        position: absolute;
        top: 110px;
        right: 45px;
        width: 160px;
        height: 50px;
        border-radius: 50px;
        z-index: 10;
        font: 900 29px/40px "Raleway";
        background-color: #9DB2FF;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

    nav.sticky>ul>.nav-list3>.languagesticky:hover,
    nav>.language:hover {
        background-color: #98adfa;
    }

    nav.sticky>ul>.nav-list3>.languagesticky>h3,
    nav>.language>h3 {
        font: 900 29px/40px "Raleway";
        margin-left: 20px;
    }

    nav.sticky>ul>.nav-list3>.languagesticky>.language-flag,
    nav>.language>.language-flag {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        -webkit-transition: 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
        transition: 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
        /* WHEN THE NAVIGATOR IS STICKY */
    }

    nav.sticky {
        background-color: white;
        opacity: 0.95;
    }

    nav.sticky>ul>.nav-list1 .relyer-logo {
        cursor: pointer;
        width: 100px;
        margin-right: 56px;
        height: 105px;
        margin-left: 56px;
        margin-top: 15px;
    }

    nav.sticky>ul>.nav-list2>.main-sections {
        height: 105px;
        color: #1A3256;
    }

    nav.sticky>ul>.nav-list2>.main-sections:hover {
        background-color: rgba(255, 255, 255, 0.836);
    }

    nav.sticky>ul>.nav-list3>.register {
        display: none;
    }

    nav.sticky>ul>.nav-list3>.login {
        background-color: #708DDC;
    }

    nav.sticky>ul>.nav-list3>.login:hover {
        background-color: #708ddcdc;
    }

    nav.sticky>ul>.nav-list3>.languagesticky {
        background-color: #708DDC;
        position: unset;
        right: unset;
        top: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav.sticky>ul>.nav-list3>.languagesticky:hover {
        background-color: #708ddcdc;
    }

    nav.sticky>.language {
        display: none;
    }

    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    nav ul>li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav ul .nav-list1>.relyer-logo {
        cursor: pointer;
        width: 150px;
        height: 160px;
        margin-left: 56px;
        margin-top: 20px;
    }

    nav ul .nav-list2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 70px;
    }

    nav ul .nav-list2>.main-sections {
        text-decoration: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 117px;
        border-radius: 5px;
        color: whitesmoke;
        text-align: left;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    nav ul .nav-list2>.main-sections:hover {
        border-bottom: 5px solid #08FFBA;
        background-color: #46cbfc9d;
        cursor: pointer;
    }

    nav ul .nav-list2>.main-sections>h3 {
        font: 700 24px/28px "Raleway";
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav ul .nav-list3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 22px;
        margin-top: 43px;
    }

    nav ul .nav-list3>.login,
    nav ul .nav-list3 .register {
        width: 160px;
        height: 50px;
        border-radius: 50px;
        font: 900 29px/40px "Raleway";
        background: #08ffb9ad;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

    nav ul .nav-list3>.login:hover,
    nav ul .nav-list3 .register:hover {
        background: #16fdbc8c;
    }

    nav ul .nav-list3:last-child {
        padding-right: 50px;
    }

    nav ul .nav-list3>.languagesticky {
        display: none;
    }

    nav>.hamburguer {
        display: none;
    }

    nav>.hamburguer>span {
        display: none;
    }

    nav .responsive-nav {
        display: none;
    }
}