/*---GENERAL---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
.choose-us {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.choose-us .title-choose-us h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.choose-us .logo-simple {
  margin: 30px 0 0 0;
  width: 50px;
}

.choose-us .items-why-choose-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-us .items-why-choose-us .item1-why-chooseUs .item-1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 {
  width: 100px;
  margin: 10px auto;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8FC2F2), to(#8251DB));
  background: linear-gradient(to bottom, #8FC2F2, #8251DB);
}

.choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item3 {
  width: 90px;
  margin: 0 auto;
}

.choose-us .items-why-choose-us .item1-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item1-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item1-why-chooseUs .info-item-3, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-3, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-3 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .choose-us .title-choose-us h3 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  .choose-us .logo-simple {
    margin: 30px 0 0 0;
    width: 70px;
  }
  .choose-us .items-why-choose-us {
    margin: 40px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .choose-us .items-why-choose-us .item1-why-chooseUs, .choose-us .items-why-choose-us .item2-why-chooseUs, .choose-us .items-why-choose-us .item3-why-chooseUs {
    width: 33.3%;
    margin: 0 40px;
  }
  .choose-us .items-why-choose-us .item1-why-chooseUs .item-1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 {
    margin: 10px auto;
  }
  .choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item1-why-chooseUs .item-3 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item2-why-chooseUs .item-3 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-1 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-2 .icon-item3, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item1, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item2, .choose-us .items-why-choose-us .item3-why-chooseUs .item-3 .icon-item3 {
    width: 90px;
    margin: 0 auto;
  }
  .choose-us .items-why-choose-us .item1-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item1-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item1-why-chooseUs .info-item-3, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item2-why-chooseUs .info-item-3, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-1, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-2, .choose-us .items-why-choose-us .item3-why-chooseUs .info-item-3 {
    margin-top: 20px;
    font-size: 20px;
  }
}

.reviews {
  font-family: "Raleway", sans-serif;
}

.reviews .title-section-reviews {
  text-align: center;
  font-size: 40px;
  margin: 0 20px;
}

.reviews .review-metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 10px 15%;
}

.reviews .review-metrics .positive-reviews {
  margin: 0px 30px;
}

.reviews .review-metrics .review-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .review-metrics .review-score .score-star {
  width: 20px;
  height: 20px;
}

.reviews .messages-ctn {
  background-color: #FFDDC1;
  padding-bottom: 20px;
}

.reviews .messages-ctn .client-photo {
  text-align: center;
}

.reviews .messages-ctn .client-photo .photo {
  margin: 20px 0;
  border-radius: 50%;
  width: 80px;
}

.reviews .messages-ctn .message-client1 {
  background-color: white;
  margin: 0 15px;
  border-radius: 20px;
}

.reviews .messages-ctn .message-client1 .name-client1 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.reviews .messages-ctn .message-client1 .message {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .reviews .review-metrics {
    margin: 10px 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .reviews .messages-ctn {
    padding-bottom: 20px;
  }
  .reviews .messages-ctn .client-photo .photo {
    margin: 20px 0;
    width: 90px;
  }
  .reviews .messages-ctn .message-client1 {
    margin: 0 85px;
  }
  .reviews .messages-ctn .message-client1 .name-client1 {
    font-size: 35px;
  }
  .reviews .messages-ctn .message-client1 .message {
    margin: 0 40px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .reviews {
    margin: 0 150px 19px;
  }
  .reviews .messages-ctn {
    padding-bottom: 20px;
    border-radius: 10px;
  }
  .reviews .messages-ctn .client-photo .photo {
    margin: 20px 0;
    width: 100px;
  }
  .reviews .messages-ctn .message-client1 {
    margin: 0 205px;
  }
  .reviews .messages-ctn .message-client1 .message {
    margin: 0 40px;
    text-align: center;
  }
}

.skills {
  font-family: "Raleway", sans-serif;
}

.skills .title-section-skills {
  text-align: center;
  font-size: 40px;
}

.skills .skills-ctn {
  background-color: azure;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skills-ctn .progress1, .skills .skills-ctn .progress2, .skills .skills-ctn .progress3 {
  margin-top: 24px;
  text-align: center;
  width: 100%;
}

.skills .skills-ctn .progress1 .progress-bar, .skills .skills-ctn .progress2 .progress-bar, .skills .skills-ctn .progress3 .progress-bar {
  width: 70%;
  margin: 0 auto;
  background-color: red;
  border-radius: 40px;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .skills {
    margin: 0 20%;
  }
  .skills .skills-ctn {
    height: 40%;
    margin: 25px;
  }
  .skills .skills-ctn .progress1, .skills .skills-ctn .progress2, .skills .skills-ctn .progress3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 12px 0 12px 0;
    text-align: center;
    width: 100%;
  }
  .skills .skills-ctn .progress1 .skill1, .skills .skills-ctn .progress1 .skill2, .skills .skills-ctn .progress1 .skill3, .skills .skills-ctn .progress2 .skill1, .skills .skills-ctn .progress2 .skill2, .skills .skills-ctn .progress2 .skill3, .skills .skills-ctn .progress3 .skill1, .skills .skills-ctn .progress3 .skill2, .skills .skills-ctn .progress3 .skill3 {
    width: 30%;
    text-align: left;
    margin-left: 70px;
  }
  .skills .skills-ctn .progress1 .progress-bar, .skills .skills-ctn .progress2 .progress-bar, .skills .skills-ctn .progress3 .progress-bar {
    width: 50%;
    background-color: red;
    border-radius: 40px;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
.team {
  font-family: "Raleway", sans-serif;
}

.team .title-section-team {
  text-align: center;
}

.team .title-section-team .team-title {
  font-size: 30px;
  letter-spacing: 7px;
  margin: 22px;
}

.team .members-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .members-team .member-ctn {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.team .members-team .member-ctn .member-photo {
  max-width: 90%;
}

.team .members-team .member-ctn .member-info p {
  margin: 3px;
}

.team .members-team .member-ctn .member-info .name-member {
  font-weight: bold;
  font-size: 25px;
}

.team .members-team .member-ctn .member-info .social-media img {
  width: 10%;
}

@media (min-width: 768px) {
  .team .members-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .members-team .member-ctn {
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
  }
  .team .members-team .member-ctn .member-photo {
    max-width: 90%;
  }
  .team .members-team .member-ctn .member-info p {
    margin: 3px;
  }
  .team .members-team .member-ctn .member-info .name-member {
    font-weight: bold;
    font-size: 25px;
  }
  .team .members-team .member-ctn .member-info .social-media img {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .team .members-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 5%;
  }
}

/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
  font-family: "Raleway", sans-serif;
}

.counters .counter1, .counters .counter2, .counters .counter3 {
  text-align: center;
  margin: 20px 0;
}

.counters .counter1 .figure, .counters .counter2 .figure, .counters .counter3 .figure {
  font-size: 35px;
}

.counters .counter1 .title-counter, .counters .counter2 .title-counter, .counters .counter3 .title-counter {
  font-size: 20px;
}

.values {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.values .title-values .logo-simple {
  width: 50px;
}

.values .title-values .subtitle-values {
  margin: 0;
  letter-spacing: 5px;
  font-size: 15px;
}

.values .title-values .relyer-brand {
  font-size: 35px;
}

.values .title-values .relyer-brand h3 {
  margin: 0;
  letter-spacing: 2px;
}

.values .title-values .relyer-brand br {
  content: '';
}

.values .title-values .relyer-brand br:after {
  content: '';
}

.values .title-values .relyer-brand .title-our-ADN {
  font-weight: normal;
  font-size: 20px;
  margin: 35px auto 15px;
}

.values .our-ADN .ourValues {
  max-width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .counters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 55px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .counters .counter1, .counters .counter2, .counters .counter3 {
    text-align: center;
    margin: 0 100px;
  }
  .counters .counter1 .figure, .counters .counter2 .figure, .counters .counter3 .figure {
    font-size: 48px;
  }
  .counters .counter1 .title-counter, .counters .counter2 .title-counter, .counters .counter3 .title-counter {
    font-size: 23px;
  }
  .values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .values .title-values {
    width: 60%;
    margin: auto 0;
  }
  .values .title-values .logo-simple {
    width: 70px;
  }
  .values .title-values .subtitle-values {
    margin: 0 auto;
    font-size: 20px;
  }
  .values .title-values .relyer-brand {
    font-size: 55px;
  }
  .values .title-values .relyer-brand h3 {
    margin: 0;
  }
  .values .title-values .relyer-brand br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .values .title-values .relyer-brand .title-our-ADN {
    font-weight: normal;
    font-size: 20px;
    margin: 35px auto 15px;
  }
  .values .our-ADN .ourValues {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .values {
    padding: 0 200px;
  }
}

/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
.about-we-give {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.about-we-give .what-do-we-give .title-section-we-give {
  font-size: 40px;
  margin: 10px;
}

.about-we-give .what-do-we-give .explanation-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  margin: 0 25px;
}

.about-we-give .what-do-we-give .explanation-about-us .info-we-give, .about-we-give .what-do-we-give .explanation-about-us .info-we-give2 {
  display: block;
}

.about-we-give .what-do-we-give .explanation-about-us .info-we-give2 {
  font-weight: bold;
}

.about-we-give .what-do-we-give .about-us-img {
  border-radius: 18px;
  max-width: 90%;
  margin: 15px auto;
}

@media (min-width: 768px) {
  .about-we-give .what-do-we-give {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-we-give .what-do-we-give .title-section-we-give {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .about-we-give .what-do-we-give .explanation-about-us {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: justify;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    max-width: 1100px;
  }
  .about-we-give .what-do-we-give .explanation-about-us .info {
    margin: 0 35px;
  }
  .about-we-give .what-do-we-give .about-us-img {
    width: 35%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 10px;
  }
}

html {
  background-image: url(/assets/svgola1.svg);
  background-repeat: no-repeat;
  background-position-y: 350px;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}
