body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

.img-background-footer {
  background: url(/assets/c24724c96c6d39574d59c2a71bfbfa36-diseno-de-fondo-de-mar-submarino.jpg);
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-logo-footer {
  margin: 0 30%;
  top: -40px;
}

.logo-footer {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo-footer img {
  margin: -40px 0px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.background-menu {
  background: url("../../assets/Rectangle36.png");
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.space-contact{
  height: 100px;
}

.menu-footer-mobile li {
  text-align: center;
  list-style: none;
  color: white;
  font-size: 25px;
  margin: 10px 0px;
}

.menu-footer-mobile li a {
  color: white;
  text-decoration: none;
}

.img-networks {
  text-align: center;
  margin: 25px 0;
}

.img-networks img {
  margin: 0 10px;
  width: 10%;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.desktop {
  display: none;
}





@media (min-width: 768px) {
  .background-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 25%;
    height: 50%;
  }
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .content-logo-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    top: 0;
    width: 33%;
  }
  .networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .background-menu-mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
  .img-background-footer {
    position: relative;
  }
  .menu-footer li {
    text-align: center;
    list-style: none;
    color: white;
    font-size: 25px;
    margin: 10px 0px;
  }
  .menu-footer li a {
    color: white;
    text-decoration: none;
  }
  .logo-footer img {
    width: 50%;
    margin: 0;
  }
}

/*----------- Contacto --------------*/
.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #fff;
  width: 60%;
  -webkit-box-shadow: 0px 0px 5px 1px #CDCDCD;
          box-shadow: 0px 0px 5px 1px #CDCDCD;
  margin-left: 20%;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  color: #6E80EC;
  font-weight: 800;
  font-size: 20px;
}

.contact-form form button,
.contact-form form input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid #6E80EC;
}

.contact-form form textarea {
  margin-top: 10px;
  width: 100%;
  padding: .7em;
}

.contact-form form button {
  background: #5CB2E2;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-section {
  background-image: url(/assets/fondo.png);
  background-repeat: no-repeat;
  background-attachment: local;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10%;
  background-size: cover;
}

.left-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: center;
}

.right-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.left-contact h2 {
  font-size: 45px;
  color: #35517A;
  font-weight: bold;
  margin-top: 50px;
}

.left-contact span {
  font-size: 20px;
  color: #35517A;
}

.padding-left-contact {
  padding: 0 20%;
}

.padding-btn-send {
  padding: 0 30%;
}

.img-networks-contact {
  background: #1A3256;
  border-radius: 30px;
  padding: 10px;
  margin: 5% 60px;
}

.radios-contact{
  display: flex;
  margin: 0 30px;
}

.form__label-radio{
  width: 50%;
}

.form__label-radio input{
  width: auto !important;
}

.img-networks-contact img {
  width: 50px;
}

#site {
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

#preloader {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

#preloader:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  width: 100%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  border: 1px solid #41CCFF;
  border-top: 1px solid transparent;
  border-radius: 100%;
}

#preloader > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 10.6px;
  margin-top: -12.5px;
  margin-left: -5.3px;
  -webkit-animation: wink 1s ease-in-out infinite alternate;
          animation: wink 1s ease-in-out infinite alternate;
}

@media only screen and (min-width: 768px) {

  





  
  #preloader {
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  #preloader:before {
    left: -2px;
    top: -2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  #preloader > .icon {
    height: 37.5px;
    width: 15.899999999999999px;
    margin-top: -18.75px;
    margin-left: -7.949999999999999px;
  }
}

@media only screen and (min-width: 1200px) {
  #preloader {
    height: 80px;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }
  #preloader > .icon {
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media  (max-width: 768px) {
  .left-contact h2{
    font-size: 35px;
  }

  .contact-section{
    display: block;
  } 
  .space-contact{
    height: 0;
  }
  .left-contact ,  .right-contact{
    width: 100%;
  }
  .right-contact{
    margin-top: 100px;
    padding: 0 5%;
  }

  .padding-left-contact{
    padding: 0px 8%;
  }
  .contact-form{
    margin: 0;
    margin-left: 0;
    width: 100%;
  }
  }