/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 250px;
}

body {
  height: 2200px;
}

.experts-container {
  background: #1a3256;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #1a3256), to(#3ab0e2));
  background: linear-gradient(180deg, #1a3256 15%, #3ab0e2 100%);
}

.experts-container::before {
  content: '';
  position: absolute;
  bottom: -600px;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#39addf65), to(transparent));
  background: linear-gradient(to bottom, #39addf65, transparent);
}

.experts-container > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.experts-container > header h1 {
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  font: 900 6.5rem "Raleway", sans-serif;
  padding: 20px;
}

.experts-container > header p {
  color: #adadad;
  font-size: 1.6rem;
  max-width: 60vw;
}

.experts-container > header > .img-wrapper > .expert-woman {
  position: absolute;
  mix-blend-mode: lighten;
  top: 140px;
  left: 0;
}

.experts-container > header > a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.experts-container > header > a > .down-button {
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 200px;
  -webkit-animation: 2s ease-in-out 5s infinite downButton;
          animation: 2s ease-in-out 5s infinite downButton;
}

@-webkit-keyframes downButton {
  0% {
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes downButton {
  0% {
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.experts-container .swiper-container {
  height: 527px;
  margin-top: 0px;
  padding: 20px;
  width: 90vw;
}

.experts-container .swiper-container .slidercontrols {
  color: white;
}

.experts-container .swiper-container > .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30vw;
  margin-bottom: 40px;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card {
  background-color: whitesmoke;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  position: relative;
  text-align: center;
  width: 300px;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card > img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  z-index: 1000000;
  -o-object-fit: cover;
     object-fit: cover;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card > h2 {
  font-size: 2rem;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card > p {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 80%;
  text-align: justify;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card > .category {
  background-color: rgba(100, 148, 237, 0.103);
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 70px;
}

.experts-container .swiper-container > .swiper-wrapper > .swiper-slide > .expert-card > button {
  background-color: #08FFBA;
  border: none;
  border-radius: 10px;
  color: #1A3256;
  cursor: pointer;
  font-size: 1.3rem;
  height: 10%;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 60%;
}

.tools-container {
  position: relative;
}

.tools-container > img {
  position: absolute;
  right: -350px;
  top: 10px;
  z-index: -100;
}

.tools-container > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.tools-container > header h1 {
  color: black;
  margin-top: 70px;
  margin-bottom: 20px;
  font: 900 6.5rem "Raleway", sans-serif;
  padding: 20px;
}

.tools-container > header p {
  color: #adadad;
  font-size: 1.6rem;
  max-width: 60vw;
  margin-bottom: 20px;
}

.tools-container > .swiper-container {
  height: 450px;
  margin-top: 20px;
  padding: 20px;
  width: 70vw;
}

.tools-container > .swiper-container .slidercontrols {
  color: black;
}

.tools-container > .swiper-container > .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 25vw;
  margin-bottom: 40px;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  background: #0b3bbd;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, rgba(11, 58, 189, 0.753)), to(rgba(12, 110, 247, 0.411)));
  background: linear-gradient(90deg, rgba(11, 58, 189, 0.753) 33%, rgba(12, 110, 247, 0.411) 100%);
  border-radius: 20px;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .imgwrap {
  width: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .imgwrap > img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: 20px;
  z-index: 1000000;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .info {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .info > h2 {
  color: #103270;
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 800;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .info > p {
  color: white;
  width: 95%;
  text-align: justify;
  font-size: 1.4rem;
  margin-bottom: 40px;
  margin-top: 20px;
}

.tools-container > .swiper-container > .swiper-wrapper > .swiper-slide > .info > button {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #103270;
  cursor: pointer;
  font-size: 1.3rem;
  height: 10%;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 20%;
}
