/*---GENERAL---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

.img-background-footer {
  background: url(../../Assets/c24724c96c6d39574d59c2a71bfbfa36-diseno-de-fondo-de-mar-submarino.jpg);
  width: 100vw;
  height: 300px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-logo-footer {
  margin: 0 30%;
  top: -40px;
}

.logo-footer {
  width: 100%;
  height: 100%;
  text-align: center;
}

footer{
  margin-top: 50px;
}

.logo-footer img {
  margin: -40px 0px 0;
  width: 70%;
  height: 100%;
  position: relative;
}

.networks div i{
  font-size: 35px;
  color: white;
  margin: 10px 0;

}

.social-net-ico{
  font-size: 35px;
  color: white;
  margin: 10px ;

}

.menu-footer a, .menu-footer-mobile a{
  font: 700 18px "Raleway";
}

.menu-footer ul li{
  margin:0;
}

.networks div a{
margin: 10px 10px;
}

.background-menu {
  background: url(../../Assets/Rectangle36.png);
  width: 100vw;
  height: 170px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-footer-mobile li {
  text-align: center;
  list-style: none;
  color: white;
  font-size: 25px;
  margin: 0px;
}

.menu-footer-mobile li a {
  color: white;
  text-decoration: none;
}

.img-networks {
  text-align: center;
  margin: 25px 0;
}

.img-networks img {
  margin: 0 10px;
  width: 10%;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .background-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 25%;
    height: 50%;
  }
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .content-logo-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    top: 0;
    width: 33%;
  }
  .networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .background-menu-mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
  .img-background-footer {
    position: relative;
  }
  .menu-footer li {
    text-align: center;
    list-style: none;
    color: white;
    font-size: 25px;
    margin: 10px 0px;
  }
  .menu-footer li a {
    color: white;
    text-decoration: none;
  }
  .logo-footer img {
    width:60%;
    margin: 0;
  }
}
