/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
/*---GENERAL---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background: #1d3170;
  background: linear-gradient(148deg, #41CCFF 0%, #5bb9ea 63%, rgba(29, 49, 112, 0.364881) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

form {
  width: 1000px;
  height: 600px;
  border-radius: 25px;
  position: relative;
  display: flex;
  box-shadow: -4px 5px 28px 4px rgba(0, 0, 0, 0.58);
}

form > .form-decoration,
form > .form-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

form > .form-decoration {
  width: 55%;
  position: relative;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 0;
  background-image: url(../../Assets/seawall.jpg);
  background-size: cover;
  background-position: left;
}

form > .form-decoration > .bgdolphin {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 10%;
  left: 10%;
}

form > .form-container {
  width: 45%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  right: 0;
  background-color: white;
}

form > .form-container > h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 800;
  color: #081A47;
}

form > .form-container > .user-label {
  margin-top: 50px;
}

form > .form-container > .password-label {
  margin-top: 25px;
}

form > .form-container > .user-label,
form > .form-container > .password-label {
  font-size: 1.1rem;
  font-weight: 400;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 10px;
}

form > .form-container > .user-input,
form > .form-container > .password-input {
  padding-left: 20px;
  font: 600 1rem "Raleway", sans-serif;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.397);
  margin-left: 10%;
  background-color: transparent;
}

form > .form-container > .user-input:focus,
form > .form-container > .password-input:focus {
  outline: none;
}

form > .form-container > .ctabutton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: #08FFBA;
  font: 600 1rem "Raleway", sans-serif;
}
