@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-family: 'Raleway', sans-serif, 'Encode Sans Semi Expanded', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.button {
  height: 44px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/*COLORS*/
.navbar {
  background-color: #4CCFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 140px;
  z-index: 200;
  position: relative;
  z-index: 1000;
  /* LOGO NAVIGATOR */
  /* CENTRAL LINKS NAVIGATOR */
  /* RIGHT SIDE NAV */
}

.navbar > .navbar__img {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 30px;
  height: 110px;
  width: 110px;
}

.navbar .navbar__centralnav {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #1A3256;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.95;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__centralnav .centralnav__home {
  margin-top: 120px;
}

.navbar .navbar__centralnav a,
.navbar .navbar__centralnav h3 {
  width: 100vw;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  display: block;
  color: white;
  padding: 30px 20px;
}

.navbar .navbar__centralnav a:hover,
.navbar .navbar__centralnav h3:hover {
  color: #BBAAE8;
}

.navbar .navbar__centralnav > .centralnav__services,
.navbar .navbar__centralnav > .centralnav__aboutus {
  position: relative;
}

.navbar .navbar__centralnav > .centralnav__services .dropdownmenu,
.navbar .navbar__centralnav > .centralnav__aboutus .dropdownmenu {
  all: unset;
  display: none;
}

.navbar .navbar__centralnav > .centralnav__services .dropdownmenu.active,
.navbar .navbar__centralnav > .centralnav__aboutus .dropdownmenu.active {
  display: block;
}

.navbar .navbar__centralnav > .centralnav__services img,
.navbar .navbar__centralnav > .centralnav__aboutus img {
  position: relative;
  width: 20px;
  height: 20px;
  bottom: 2px;
  left: 10px;
}

.navbar .navbar__centralnav > .centralnav__services .doublearrow,
.navbar .navbar__centralnav > .centralnav__aboutus .doublearrow {
  display: none;
}

.navbar .navbar__centralnav .centralnav__language--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.navbar .navbar__centralnav .centralnav__language--mobile img {
  cursor: pointer;
}

.navbar .navbar__rightnav {
  display: none;
}

.navbar > .hamburguer {
  width: 38px;
  height: 40px;
  top: 45px;
  right: 30px;
  z-index: 500;
  display: block;
  position: absolute;
  cursor: pointer;
}

.navbar > .hamburguer > span {
  width: 100%;
  height: 6px;
  margin-top: 7px;
  border-radius: 25px;
  display: block;
  background-color: #010913;
}

@media (min-width: 1000px) {
  /* big landscape tablets, laptops, and desktops */
  header {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  .navbar {
    height: 115px;
    min-width: 100vw;
    width: 100%;
    background-color: #4CCFFF;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* CENTRAL LINKS NAVIGATOR */
    /* RIGHT SIDE NAV */
  }
  .navbar.sticky {
    z-index: 1000;
    opacity: 0.95;
    background-color: #41ccffde;
  }
  .navbar > .navbar__img {
    height: 115px;
    width: 115px;
    top: 5px;
    left: 50px;
  }
  .navbar .navbar__centralnav {
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    background-color: transparent;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: calc(20vw - 3%);
  }
  .navbar .navbar__centralnav .centralnav__home {
    margin-top: unset;
  }
  .navbar .navbar__centralnav a,
  .navbar .navbar__centralnav h3 {
    font-weight: 700;
    width: 10vw;
    min-width: 130px;
    height: 115px;
    padding: 50px 0;
    border-radius: 5px;
  }
  .navbar .navbar__centralnav a:hover, .navbar .navbar__centralnav a:active,
  .navbar .navbar__centralnav h3:hover,
  .navbar .navbar__centralnav h3:active {
    color: white;
    cursor: pointer;
    background-color: #3ab0e217;
  }
  .navbar .navbar__centralnav > .centralnav__services:hover > a,
  .navbar .navbar__centralnav > .centralnav__services:hover > h3,
  .navbar .navbar__centralnav > .centralnav__aboutus:hover > a,
  .navbar .navbar__centralnav > .centralnav__aboutus:hover > h3 {
    color: whitesmoke;
    cursor: pointer;
    background-color: #3ab0e217;
  }
  .navbar .navbar__centralnav > .centralnav__services:hover > a .doublearrow,
  .navbar .navbar__centralnav > .centralnav__services:hover > h3 .doublearrow,
  .navbar .navbar__centralnav > .centralnav__aboutus:hover > a .doublearrow,
  .navbar .navbar__centralnav > .centralnav__aboutus:hover > h3 .doublearrow {
    bottom: 10px;
    display: block;
  }
  .navbar .navbar__centralnav > .centralnav__services > .dropdownmenu,
  .navbar .navbar__centralnav > .centralnav__aboutus > .dropdownmenu {
    position: fixed;
    top: 115px;
    width: 10vw;
    height: 70px;
    padding-top: 10px;
  }
  .navbar .navbar__centralnav > .centralnav__services > .dropdownmenu > a,
  .navbar .navbar__centralnav > .centralnav__aboutus > .dropdownmenu > a {
    border-radius: 2px;
    background-color: #3AB0E2;
    margin-bottom: 10px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 30px;
    padding: 0;
    font: 500 1.25rem/28px "Raleway";
  }
  .navbar .navbar__centralnav > .centralnav__services:hover > .dropdownmenu,
  .navbar .navbar__centralnav > .centralnav__aboutus:hover > .dropdownmenu {
    display: block;
  }
  .navbar .navbar__centralnav > .centralnav__services .simplearrow,
  .navbar .navbar__centralnav > .centralnav__aboutus .simplearrow {
    display: none;
  }
  .navbar .navbar__centralnav > .centralnav__services .doublearrow,
  .navbar .navbar__centralnav > .centralnav__aboutus .doublearrow {
    position: absolute;
    left: 40%;
    display: none;
  }
  .navbar .navbar__centralnav .login--mobile {
    display: none;
  }
  .navbar .navbar__centralnav .centralnav__language--mobile {
    display: none;
  }
  .navbar .navbar__rightnav {
    z-index: 200;
    position: absolute;
    right: 20px;
    top: 35.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .navbar .navbar__rightnav .rightnav__login {
    font: 900 1.25rem/20px "Raleway";
    color: rgba(245, 245, 245, 0.829);
    background: #08FFBA;
    padding: 10px 30px;
    width: 30px;
  }
  .navbar .navbar__rightnav .rightnav__login:hover {
    background: #08ffb9d8;
  }
  .navbar .navbar__rightnav .rightnav__login .login--tablet {
    display: block;
  }
  .navbar .navbar__rightnav .rightnav__login .login--tablet img {
    width: 20px;
    height: 20px;
  }
  .navbar .navbar__rightnav .rightnav__login .login--desktop {
    display: none;
  }
  .navbar .navbar__rightnav .rightnav__changelang {
    padding: 10px 25px;
    background-color: #708DDC;
  }
  .navbar .navbar__rightnav .rightnav__changelang .changelang__title {
    font: 700 1.25rem/15px "Raleway";
    color: white;
  }
  .navbar .navbar__rightnav .rightnav__changelang:hover {
    background-color: #708ddcdc;
  }
  .navbar .navbar__rightnav .rightnav__changelang:hover > .changelang__options {
    display: block;
  }
  .navbar .navbar__rightnav .changelang__options {
    position: fixed;
    top: 80px;
    width: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 10px;
    display: none;
  }
  .navbar .navbar__rightnav .changelang__options .changelang__lang {
    background-color: #708ddcdc;
    height: 32px;
    font: 500 1.25rem/28px "Raleway";
    color: white;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
  }
  .navbar .navbar__rightnav .changelang__options .changelang__lang.selected {
    color: gainsboro;
  }
  .navbar > .hamburguer {
    display: none;
  }
}

@media (min-width: 1230px) {
  /* tablet, landscape iPad */
  .navbar {
    /* RIGHT SIDE NAV */
  }
  .navbar > .navbar__rightnav {
    right: 50px;
  }
  .navbar > .navbar__rightnav > .rightnav__login {
    width: 232px;
  }
  .navbar > .navbar__rightnav > .rightnav__login > .login--tablet {
    display: none;
  }
  .navbar > .navbar__rightnav > .rightnav__login > .login--desktop {
    display: block;
  }
}

@media (min-width: 1300px) {
  .navbar .navbar__centralnav {
    gap: 20px;
  }
}
