/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
/*---GENERAL---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(65, 109, 255, 0.95) 0%, rgba(65, 94, 255, 0.164) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

@keyframes register {
  0% {
    transform: translateY(10vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  width: 1000px;
  height: 680px;
  border-radius: 25px;
  position: relative;
  display: flex;
  animation: register 0.5s normal forwards ease-in-out;
}

form > .form-decoration,
form > .form-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

form > .form-decoration {
  width: 55%;
  position: relative;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 0;
  background-image: url(../../Assets/seawall.jpg);
  filter: sepia(1%);
  display: flex;
  background-size: cover;
  background-position: left;
}

form > .form-container {
  width: 45%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

form > .form-container > h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 800;
  color: #081A47;
}

form > .form-container > .inputcontainer {
  position: relative;
  align-self: center;
  margin-bottom: 15px;
}

form > .form-container > .inputcontainer > i {
  position: absolute;
  bottom: 18px;
  left: 12px;
  margin: 0px;
}

form > .form-container > .inputcontainer:first-of-type {
  margin-top: 30px;
}

form > .form-container > .inputcontainer > .input {
  width: 351px;
  height: 46px;
  padding-left: 35px;
  font: 600 1rem "Raleway", sans-serif;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.197);
  background-color: transparent;
}

form > .form-container > .inputcontainer > .input:focus {
  outline: none;
}

form > .form-container > .inputselect {
  margin-top: -10px;
  padding-left: 20px;
  font: 600 1rem "Raleway", sans-serif;
  width: 351px;
  height: 40px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.197);
  align-self: center;
  background-color: transparent;
}

form > .form-container > .inputselect:focus {
  outline: none;
}

form > .form-container > .selectlabel {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-left: 40px;
  color: #5a4f4f;
}

form > .form-container > .selectlabel:last-of-type {
  margin-top: 20px;
}

form > .form-container > .ctabutton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: #08FFBA;
  font: 400 1.15rem "Raleway", sans-serif;
}

form > .form-container > .createaccount {
  margin-top: 20px;
  margin-left: -25px;
  align-self: center;
}
