/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
/*---GENERAL---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

html {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 146, 197, 0.95)), to(rgba(65, 176, 255, 0)));
  background: linear-gradient(180deg, rgba(6, 146, 197, 0.95) 0%, rgba(65, 176, 255, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.fa-arrow-circle-left {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  z-index: 500;
  cursor: pointer;
  color: #081A47;
}

@-webkit-keyframes register {
  0% {
    -webkit-transform: translateY(10vw);
            transform: translateY(10vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes register {
  0% {
    -webkit-transform: translateY(10vw);
            transform: translateY(10vw);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  width: 100vw;
  height: 100vh;
  background-color: #41CCFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form > .form-decoration {
  display: none;
}

form > .form-container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form > .form-container > h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 800;
  color: #081A47;
}

form > .form-container > .inputcontainer {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 15px;
}

form > .form-container > .inputcontainer > i {
  position: absolute;
  bottom: 18px;
  left: 12px;
  margin: 0px;
}

form > .form-container > .inputcontainer > h2 {
  color: white;
}

form > .form-container > .inputcontainer:first-of-type {
  margin-top: 30px;
}

form > .form-container > .inputcontainer > .input {
  width: 351px;
  height: 46px;
  padding-left: 35px;
  font: 600 1rem "Raleway", sans-serif;
  border-radius: 10px;
  border-color: white;
  color: white;
  background-color: transparent;
}

form > .form-container > .inputcontainer > .input:focus {
  outline: none;
}

form > .form-container > .inputselect {
  margin-top: -10px;
  padding-left: 20px;
  font: 600 1rem "Raleway", sans-serif;
  width: 351px;
  height: 40px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.197);
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: transparent;
}

form > .form-container > .inputselect:focus {
  outline: none;
  color: black;
}

form > .form-container > .selectlabel {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  color: black;
}

form > .form-container > .selectlabel:last-of-type {
  margin-top: 20px;
}

form > .form-container > .ctabutton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: transparent;
  background-color: #08FFBA;
  font: 400 1.15rem "Raleway", sans-serif;
}

form > .form-container > .createaccount {
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1200px) {
  form {
    width: 1000px;
    height: 680px;
    border-radius: 25px;
    position: relative;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: register 0.5s normal forwards ease-in-out;
            animation: register 0.5s normal forwards ease-in-out;
  }
  form > .form-decoration,
  form > .form-container {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  form > .form-decoration {
    display: block;
    width: 55%;
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    left: 0;
    background-image: url(../../Assets/seawall.jpg);
    -webkit-filter: sepia(1%);
            filter: sepia(1%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    background-position: left;
  }
  form > .form-container {
    width: 45%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  form > .form-container > h1 {
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: 800;
    color: #081A47;
  }
  form > .form-container > .inputcontainer {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 15px;
  }
  form > .form-container > .inputcontainer > i {
    position: absolute;
    bottom: 18px;
    left: 12px;
    margin: 0px;
  }
  form > .form-container > .inputcontainer:first-of-type {
    margin-top: 30px;
  }
  form > .form-container > .inputcontainer > .input {
    width: 351px;
    height: 46px;
    padding-left: 35px;
    font: 600 1rem "Raleway", sans-serif;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.197);
    color: black;
    background-color: transparent;
  }
  form > .form-container > .inputcontainer > .input:focus {
    outline: none;
  }
  form > .form-container > .inputselect {
    margin-top: -10px;
    padding-left: 20px;
    font: 600 1rem "Raleway", sans-serif;
    width: 351px;
    height: 40px;
    border-radius: 10px;
    color: black;
    border-color: rgba(128, 128, 128, 0.197);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: transparent;
  }
  form > .form-container > .inputselect:focus {
    outline: none;
  }
  form > .form-container > .selectlabel {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
    color: #5a4f4f;
  }
  form > .form-container > .selectlabel:last-of-type {
    margin-top: 20px;
  }
  form > .form-container > .ctabutton {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 15px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-color: transparent;
    background-color: #08FFBA;
    font: 400 1.15rem "Raleway", sans-serif;
  }
  form > .form-container > .createaccount {
    margin-top: 20px;
    margin-left: -25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
