@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-family: 'Raleway', sans-serif, 'Encode Sans Semi Expanded', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.button {
  height: 44px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/*COLORS*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background: linear-gradient(179.99deg, #D29BEC -17.93%, rgba(65, 204, 255, 0.78) 138.48%);
  opacity: 0.3;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
  margin: 30px 0 0 0;
}

.card__container .carditem {
  width: 90vw;
}

.card__container .carditem .card__question {
  width: 90%;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 800;
}

.card__container .carditem .card__optionscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.card__container .carditem .card__optionscontainer .cardoption__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
  min-height: 60px;
  width: 90vw;
  cursor: pointer;
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | color */
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.103);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.103);
}

.card__container .carditem .card__optionscontainer .cardoption__item:hover,
.card__container .carditem .card__optionscontainer .cardoption__item:hover > label {
  background-color: gainsboro;
}

.card__container .carditem .card__optionscontainer .cardoption__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 15px 10px 15px 30px;
  text-align: justify;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #5e5858;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 25px;
}

.card__container .carditem .card__optionscontainer .cardoption__item input {
  opacity: 0.8;
  border-radius: 2px;
  position: absolute;
  background-color: gainsboro;
  left: 10px;
}

.card__container .carditem .card__optionscontainer .cardoption__item input:checked + label {
  background-color: gainsboro;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"] {
  display: none;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"] + label:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid black;
  left: 10px;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"]:checked + label:before {
  width: 4px;
  height: 4px;
  border: 4px solid whitesmoke;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="checkbox"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 1px solid gray;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="checkbox"] + label::after {
  display: none;
  position: absolute;
  left: 10px;
  color: whitesmoke;
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 800;
}

.card__container .carditem .card__optionscontainer .cardoption__item input[type="checkbox"]:checked + label:after {
  display: block;
}

.card__container .carditem .card__optionscontainer .cardoption__item .textInput {
  height: 35px;
  background-color: #856eec96;
  min-width: 120px;
  font-size: 1rem;
  padding: 5px 20px;
  position: absolute;
  right: 10px;
  top: 80px;
}

.card__container .carditem .card__optionscontainer .cardoption__item .textInput:disabled {
  background-color: whitesmoke;
}

.terminar-test {
  background: #946dd3;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 70vw;
  padding: 15px 30px;
  margin: 30px auto;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 750px) {
  /* first media for mobile*/
  .card__container .carditem {
    width: 70%;
  }
}

@media (min-width: 750px) and (max-width: 1230px) {
  /* tablet, landscape iPad */
  .card__container .carditem .card__question {
    width: 95%;
    font-size: 2rem;
  }
  .card__container .carditem .card__optionscontainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item {
    min-width: 300px;
    min-height: 60px;
    width: 42%;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item:hover, .card__container .carditem .card__optionscontainer .cardoption__item:active, .card__container .carditem .card__optionscontainer .cardoption__item:focus,
  .card__container .carditem .card__optionscontainer .cardoption__item:hover > label {
    background-color: #856eec16;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input:checked + label {
    background-color: #856eec3a;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"]:checked + label:before {
    border: 4px solid #856eecc5;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="checkbox"] + label::after {
    color: #856eecc5;
  }
  .terminar-test {
    margin-top: 50px;
    width: 300px;
  }
}

@media (min-width: 1230px) {
  /* big landscape tablets, laptops, and desktops */
  .sidebar {
    right: unset;
    width: 300px;
    z-index: -10;
  }
  .card__container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 110px;
    margin: 70px 0 0 0;
  }
  .card__container .carditem {
    width: 70vw;
    padding-right: 20px;
  }
  .card__container .carditem .card__question {
    font-size: 2rem;
  }
  .card__container .carditem .card__optionscontainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item {
    min-height: 60px;
    width: 410px;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item:hover,
  .card__container .carditem .card__optionscontainer .cardoption__item:hover > label {
    background-color: #856eec16;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input {
    background-color: gainsboro;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input:checked + label {
    background-color: #856eec3a;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"] {
    display: none;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"] + label:before {
    border: 2px solid gainsboro;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="radio"]:checked + label:before {
    border: 4px solid #856eecc5;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item input[type="checkbox"] + label::after {
    color: #856eecc5;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item .textInput {
    background-color: #856eec16;
  }
  .card__container .carditem .card__optionscontainer .cardoption__item .textInput:disabled {
    background-color: whitesmoke;
  }
  .terminar-test {
    width: 270px;
    position: relative;
    left: 70%;
    margin: 40px;
  }
  .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    -webkit-animation: rise 10s infinite ease-in;
            animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
  }
  .bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .bubble:nth-child(4) {
    width: 70px;
    height: 70px;
    left: 50%;
    -webkit-animation-duration: 11s;
            animation-duration: 11s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .bubble:nth-child(7) {
    width: 50px;
    height: 50px;
    left: 70%;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .bubble:nth-child(8) {
    width: 25px;
    height: 25px;
    left: 80%;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .bubble:nth-child(9) {
    width: 15px;
    height: 15px;
    left: 70%;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubble:nth-child(10) {
    width: 75px;
    height: 75px;
    left: 25%;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bubble:nth-child(11) {
    width: 30px;
    height: 30px;
    left: 25%;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .bubble:nth-child(12) {
    width: 34px;
    height: 34px;
    left: 27%;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bubble:nth-child(13) {
    width: 55px;
    height: 55px;
    left: 5%;
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubble:nth-child(14) {
    width: 50px;
    height: 50px;
    left: 35%;
    -webkit-animation-duration: 14s;
            animation-duration: 14s;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bubble:nth-child(15) {
    width: 60px;
    height: 60px;
    left: 15%;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  @-webkit-keyframes rise {
    0% {
      bottom: -100px;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translate(100px);
              transform: translate(100px);
    }
    100% {
      bottom: 1080px;
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
  @keyframes rise {
    0% {
      bottom: -100px;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    50% {
      -webkit-transform: translate(100px);
              transform: translate(100px);
    }
    100% {
      bottom: 1080px;
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
}
