/*General*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

main #inicioTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #inicioTest h1 {
  color: #6E80EC;
  margin-top: 3%;
  font-size: 2em;
  text-align: center;
}

main #inicioTest p {
  width: 80%;
  margin-top: 3%;
  font-size: 1em;
  text-align: start;
}

main #inicioTest #pasos {
  width: 80%;
  margin-top: 2%;
}

main #inicioTest #pasos #parrafo-pasos {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #cccccc;
  width: 100%;
}

main #inicioTest #pasos h2 {
  color: #6E80EC;
  margin-top: 3%;
  font-size: 1.5em;
  text-align: start;
  line-height: 1.5;
}

main #inicioTest #pasos p {
  font-size: 1em;
  text-align: start;
}

main #inicioTest #pasos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

main #inicioTest #pasos div img {
  width: 70%;
  height: auto;
}

main #inicioTest #pasos div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #inicioTest #pasos div div p {
  width: 100%;
}

main #inicioTest .button {
  margin-top: 0%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5%;
}

main #inicioTest .button a {
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  padding: 3% 5%;
  background-color: #70ffd7;
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  main #inicioTest p {
    width: 80%;
  }
  main #inicioTest #pasos div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #inicioTest #pasos div img {
    width: 30%;
    margin-right: 5%;
  }
  main #inicioTest .button {
    margin-top: 0%;
  }
  main #inicioTest .button a {
    padding: 2% 3%;
  }
}

@media screen and (min-width: 1200px) {
  main #inicioTest p {
    width: 60%;
  }
  main #inicioTest #pasos {
    width: 60%;
  }
  main #inicioTest #pasos div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    vertical-align: initial;
  }
  main #inicioTest #pasos div img {
    width: 20%;
    margin-right: 5%;
  }
  main #inicioTest #pasos div div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    line-height: 20px;
  }
  main #inicioTest .button {
    width: 60%;
    margin-top: 0%;
  }
  main #inicioTest .button a {
    padding: 1% 3%;
  }
}

/* ---RELYER--- */
/* COLORS */
/* Layers */
/* Call to action */
/* Titles */
/* Contrast */
/* FONTS */
html {
  scroll-behavior: smooth;
  font-size: 18px;
}

main progress {
  position: absolute;
  top: 200px;
}

main #test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #test .container-barra {
  margin-top: 20px;
  width: 95%;
  height: 30px;
  background-color: #EBEDED;
}

main #test .container-barra .barra {
  width: 0%;
  height: 100%;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #1b85e4), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #1b85e4 35%, #00d4ff 100%);
}

main #test .card {
  background: rgba(5, 198, 244, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 3%;
  height: auto;
  width: 90%;
  padding: 2%;
  opacity: 0.3;
}

main #test .card p {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  font-size: 1em;
}

main #test .card h2 {
  font-size: 1.5em;
}

main #test .card label {
  font-size: 1em;
}

main #test .card.active {
  opacity: 1;
}

main #test .respuestasInput {
  width: 20pbx;
}

main #test #terminar-test {
  margin: 3% 0%;
  padding: 3% 5%;
  border-radius: 100px;
  background-color: #70FFD7;
  cursor: pointer;
  font-size: 1em;
  color: #1A3256;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  main #test .container-barra {
    width: 90%;
  }
  main #test .card {
    width: 80%;
  }
  main #test #terminar-test {
    padding: 2% 3%;
  }
}

@media screen and (min-width: 1200px) {
  main #test .container-barra {
    width: 80%;
  }
  main #test .card {
    width: 60%;
  }
  main #test #terminar-test {
    padding: 1% 3%;
  }
}

main #resultados {
  padding: 3%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #resultados h1 {
  color: #6E80EC;
  font-size: 2em;
  margin-bottom: 8%;
}

main #resultados p {
  font-size: 1em;
  width: 90%;
  text-align: start;
  margin-bottom: 3%;
}

main #resultados #graficas-parrafo {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  color: #cccccc;
}

main #resultados .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

main #resultados .container div {
  width: 100%;
}

main #resultados .container div canvas {
  padding: 5% 10%;
}

@media screen and (min-width: 768px) {
  main #resultados h1 {
    margin-bottom: 5%;
  }
  main #resultados p {
    width: 80%;
  }
  main #resultados #graficas-parrafo {
    margin-top: 1%;
  }
  main #resultados .container {
    width: 80%;
  }
  main #resultados .container div {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  main #resultados h1 {
    margin-bottom: 2%;
  }
  main #resultados #graficas-parrafo {
    margin-top: 1%;
  }
  main #resultados p {
    width: 60%;
    margin-bottom: 1%;
  }
  main #resultados .container {
    width: 80%;
  }
  main #resultados .container div {
    width: 33%;
  }
}
