@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

html {
  font-family: 'Raleway', sans-serif, 'Encode Sans Semi Expanded', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.button {
  height: 44px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/*COLORS*/
footer {
  margin-top: 0 !important;
}

main .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .results .bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

main .results .bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-animation: rise 10s infinite ease-in;
          animation: rise 10s infinite ease-in;
}

main .results .bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

main .results .bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .results .bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main .results .bubble:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 50%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main .results .bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .results .bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

main .results .bubble:nth-child(7) {
  width: 50px;
  height: 50px;
  left: 70%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main .results .bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

main .results .bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .results .bubble:nth-child(10) {
  width: 75px;
  height: 75px;
  left: 25%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

main .results .bubble:nth-child(11) {
  width: 30px;
  height: 30px;
  left: 25%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

main .results .bubble:nth-child(12) {
  width: 34px;
  height: 34px;
  left: 27%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

main .results .bubble:nth-child(13) {
  width: 55px;
  height: 55px;
  left: 5%;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .results .bubble:nth-child(14) {
  width: 50px;
  height: 50px;
  left: 35%;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

main .results .bubble:nth-child(15) {
  width: 60px;
  height: 60px;
  left: 15%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes rise {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes rise {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

main .results .bubbles {
  opacity: 0.7;
}

main .results .results__graphic {
  display: none;
}

main .results > .results__data {
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .results > .results__data.unset {
  background: unset !important;
}

main .results > .results__data .data__character {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  gap: 20px;
  z-index: 20;
}

main .results > .results__data .data__character h2 {
  color: white;
  font-weight: 400;
  z-index: 20;
}

main .results > .results__data .data__character img {
  border-radius: 50%;
  width: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .results > .results__data .data__punctuation--mobile {
  color: whitesmoke;
  display: inline;
  margin: 20px;
  text-align: justify;
  font-weight: 900;
  max-width: 90vw;
  font-size: 1.4rem;
}

main .results > .results__data .data__desc {
  text-align: justify;
  max-width: 85vw;
  font-size: 1.4rem;
  line-height: 30px;
}

main .results > .results__data .data__advice a {
  text-decoration: none;
  background-color: #109CFF;
  display: block;
  padding: 15px 30px;
  margin: 40px auto 50px auto;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1000px) {
  /* tablet, landscape iPad */
  main > .results {
    height: calc(100vh - 80px);
  }
  main > .results > .results__data .data__character img {
    width: 170px;
  }
}

@media (min-width: 1000px) {
  /* tablet, landscape iPad */
  main {
    overflow: hidden;
  }
  main .results {
    height: calc(100vh - 80px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: unset !important;
  }
  main .results .results__graphic {
    display: block;
    width: 900px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    z-index: -10;
  }
  main .results .results__graphic h2 {
    font-size: 7.5rem;
    color: white;
    z-index: 30;
    font-weight: 200;
    letter-spacing: 15px;
  }
  main .results > .results__data {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .results > .results__data .data__character {
    background-color: unset !important;
    background: unset !important;
    height: 300px;
  }
  main .results > .results__data .data__character img {
    width: 180px;
    height: 180px;
  }
  main .results > .results__data .data__character .character__name {
    font-size: 2rem;
  }
  main .results > .results__data > .data__desc {
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 35px;
    color: whitesmoke;
  }
  main .results > .results__data .data__punctuation--mobile {
    display: none;
  }
  main .results > .results__data .data__advice a {
    background-color: #109CFF;
  }
}
