.reviews{
    font-family: $Raleway;
    .title-section-reviews{
        text-align: center;
        font-size: 40px;
        margin: 0 20px;
    }
    .review-metrics{
        display: flex;
        text-align: center;
        margin: 10px 15%;
        .positive-reviews{
            margin: 0px 30px;
        }
        .review-score{
            display: flex;
            .score-star{
                width: 20px;
                height: 20px;
            }
        }
    }
    .messages-ctn{
        background-color: #FFDDC1;
        padding-bottom: 20px;
        .client-photo{
            text-align: center;
            .photo{
                margin: 20px 0;
                border-radius: 50%;
                width: 80px;
            }
        }
        .message-client1{
            background-color: white;
            margin: 0 15px;
            border-radius: 20px;
            .name-client1{
                text-align: center;
                font-weight: bold;
                font-size: 25px;
            }
            .message{
                margin: 0 10px;
            }
        }
    }
}
@media (min-width: 768px){
    .reviews{
        .review-metrics{
            margin: 10px 30%;
            justify-content: space-around;
        }
        .messages-ctn{
            padding-bottom: 20px;
            .client-photo{
                .photo{
                    margin: 20px 0;
                    width: 90px;
                }
            }
            .message-client1{
                margin: 0 85px;
                .name-client1{
                    font-size: 35px;
                }
                .message{
                    margin: 0 40px;
                    text-align: center;
                }
            }
        }
    }
}
@media (min-width: 1200px){
    .reviews{
        margin: 0 150px 19px;
        .messages-ctn{
            padding-bottom: 20px;
            border-radius: 10px;
            .client-photo{
                .photo{
                    margin: 20px 0;
                    width: 100px;
                }
            }
            .message-client1{
                margin: 0 205px;
                .message{
                    margin: 0 40px;
                    text-align: center;
                }
            }
        }
    }
}