@import '_variables.scss';
.team{
    // margin-top: 130px;
    font-family: $Raleway;
    .title-section-team{
        text-align: right;
        .team-title{
            padding-right: 10%;
            font-size: 2.5rem;
            color: #35517A;
            font-weight: 900;
            letter-spacing: 15px;
            margin: 22px;
        }
    }
    .members-team{
        display: flex;
        flex-wrap: wrap;
        .member-ctn{
            width: 50%;
            text-align: center;
            margin-bottom: 20px;

            .member-photo{
                max-width: 90%;
            }
            .member-info{
                p{
                    margin: 3px;
                }
                .name-member{
                    font-weight: bold;
                    font-size: 25px;
                }
                .social-media{
                    img{
                        width: 10%;
                    }
                }
            }
        }
    }
}
@media(min-width:768px){
    .team{
        .members-team{
            display: flex;
            flex-wrap: wrap;
            .member-ctn{
                width: 33%;
                text-align: center;
                margin-bottom: 20px;
                .member-photo{
                    max-width: 90%;
                }
                .member-info{
                    p{
                        margin: 3px;
                    }
                    .name-member{
                        font-weight: bold;
                        font-size: 25px;
                    }
                    .social-media{
                        img{
                            width: 10%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1200px){
    .team{
        .members-team{
            display: flex;
            flex-wrap: nowrap;
            margin: 0 5%;
        }
    }
}
