//Constants loaded
@import'variables';
//Normalize file
@import 'normalize';

//MOBILE BLOG CALENDAR
.section-events{
  position: relative;
  z-index: 10;
  background-color: $white;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
  //Controla el fondo
  &.waves{
    position: relative;
    z-index: 0;
    
    &::after{
      display: block;
      background-image: url('../../assets/svgola3.svg');
      position: absolute;
      content: '';
      width: 100%;
      height: 70%;
      z-index: 0;
      top: 330px;
      left: 0px;
      background-repeat: no-repeat;
      
    }
  }
  .events-content{
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-container{
      margin: 40px auto 20px auto;
      text-align: center;
      width: 320px;
      .title{
        color: $black;
        font-family: $Raleway;
        font-weight: 700;
        font-size: 20px;
      }
    }
    .calendar-container{
      width: 100%;
      height: 440px;
      background-color: $lightblue;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .calendar{
        width: 320px;
        height: 320px;
        background-color: gray;
      }
    }
    .subtitle-container{
      margin: 40px auto 20px auto;
      text-align: center;
      width: 300px;
      .title{
        color: $black;
        font-family: $Raleway;
        font-weight: 700;
        font-size: 20px;
      }
    }
    .cards-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;

      .card{
        width: 300px;
        height: 100px;
        margin: 20px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 15px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
        .date-card{
          width: 60px;
          height: 60px;
          margin: 10px;
          background-color: $lightblue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 15px;

          .month, .day{
            color: $white;
            font-family: $Raleway;
            font-weight: 500;
            font-weight: 700;
            font-size: 16px;
            
          }
          .month{
            margin: 10px 5px 0px 5px;

          }
          .day{
            margin: 0px 5px 5px 5px;
            font-size: 30px;
          }

        }
        .information{
          .title{
            color: $black;
            font-family: $Raleway;
            font-weight: 700;
            
            font-size: 16px;
          }
          .description{
            color: $black;
            font-family: $Raleway;
            font-weight: 500;
            font-size: 14px;
            margin: 3px;
          }
          .time{
            color: $black;
            font-family: $Raleway;
            font-weight: 500;
            font-size: 14px;
            margin: 3px;
            
          }
        }

      }
    }
  }
}

//DESKTOP BLOG CALENDAR
@media(min-width:1200px){
  .section-events{
    position: relative;
    z-index: 10;
    background-color: $white;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    //Controla el fondo
    &.waves{
      position: relative;
      z-index: 0;
      
      &::after{
        display: block;
        background-image: url('../../assets/svgola3.svg');
        position: absolute;
        content: '';
        width: 100%;
        height: 70%;
        z-index: 0;
        top: 330px;
        left: 0px;
        background-repeat: no-repeat;
        
      }
    }
    .events-content{
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);

      
      .title-container{
        grid-column: 1/6;
        grid-row: 1/3;
        margin: 40px auto 20px auto;
        text-align: center;
        width: 500px;
        .title{
          color: $black;
          font-family: $Raleway;
          font-weight: 700;
          font-size: 40px;
        }
      }
      .calendar-container{
        grid-column: 4/6;
        grid-row: 3/6;
        width: 440px;
        height: 440px;
        background-color: $lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .calendar{
          width: 390px;
          height: 390px;
          background-color: white;
        }
      }
      .subtitle-container{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 40px auto 20px auto;
        text-align: center;
        width: 300px;
        .title{
          color: $black;
          font-family: $Raleway;
          font-weight: 700;
          font-size: 20px;
        }
      }
      .cards-container{
        grid-column: 1/3;
        grid-row: 3/6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 440px;
        .card{
          width: 400px;
          margin: 20px 0px;
          display: flex;
          align-items: center;
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border-radius: 20px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          .date-card{
            
            width: 80px;
            height: 80px;
            margin: 10px;
            background-color: $lightblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
  
            .month, .day{
              color: $white;
              font-family: $Raleway;
              font-weight: 700;
              font-weight: 700;
              font-size: 18px;
              
            }
            .month{
              margin: 10px 5px 5px 5px;
  
            }
            .day{
              margin: 0px 5px 5px 5px;
              font-size: 30px;
            }
  
          }
          .information{
            .title{
              color: $black;
              font-family: $Raleway;
              font-weight: 700;
              
              font-size: 16px;
            }
            .description{
              color: $black;
              font-family: $Raleway;
              font-weight: 500;
              font-size: 14px;
              margin: 3px;
            }
            .time{
              color: $black;
              font-family: $Raleway;
              font-weight: 500;
              font-size: 14px;
              margin: 3px;
              
            }
          }
  
        }
      }
    }
  }
}