@import'variables';
//Normalize file
@import 'normalize';

//MOBILE download CALENDAR
.section-download{
  position: relative;
  z-index: 10;
  background-color: $white;
  border: 2px solid red;
  width: 100%;
  height: 1180px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
  //Controla el fondo
  &.waves{
    position: relative;
    z-index: 0;
    
    &::after{
      display: block;
      background-image: url('../../assets/svgola1.svg');
      position: absolute;
      content: '';
      width: 100%;
      height: 70%;
      z-index: 0;
      top: 0px;
      left: 0px;
      background-repeat: no-repeat;
      
    }
  }
  .download-content{
    z-index: 10;

    .title-container{
      margin: 40px auto 20px auto;
      text-align: center;
      width: 300px;
      .title{
        color: $black;
        font-family: $Raleway;
        font-weight: 700;
        font-size: 25px;
      }
    }
    .download-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .download-entrie{
        position: relative;
        width: 280px;
        height: 240px;
        margin: 40px 0px;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        color: $black;
        font-family: $Raleway;
        font-weight: 500;
        font-size: 14px;
        padding: 25px;
        text-align: center;
        

        .photo-container{
          margin: 0 auto;
          top: -50px;
          left: 0;
          right: 0;
          position: absolute;
          height: 80px;
          width: 80px;
          content: '';
          border-radius: 20px;
          background-color: yellow;
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

          img{
            object-fit: cover;
          }
        }
        .arrow-container{
          margin: 0 auto;
          top: 20px;
          left: 0;
          right: 0;
          position: relative;
          height: 60px;
          width: 60px;
          content: '';
          border-radius: 60px;
          background-color: $darkblue;
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

        }
        .title{
          font-weight: 700;
          margin-top: 30px;
          
        }
        .description{
          margin-top: 20px;
          
        }
        .download-footer{
          margin-top: 20px;

        }
      }
    }
    .loadmore{
      width: 180px;
      height: 40px;
      margin: 25px auto;
      background-color: $blue;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      span{
        font-family: $Raleway;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
      }
      &:hover{
        background-color: $aquamarine;
      }
    }
  }
}

//DESKTOP download ENTRIES 
@media(min-width:1440px){
  
  .section-download{
    position: relative;
    z-index: 10;
    background-color: $white;
    border: 2px solid red;
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    //Controla el fondo
    &.waves{
      position: relative;
      z-index: 0;
      
      &::after{
        display: block;
        background-image: url('../../assets/svgola1.svg');
        position: absolute;
        content: '';
        width: 100%;
        height: 70%;
        z-index: 0;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        
      }
    }
    .download-content{
      z-index: 10;

      .title-container{
        margin: 40px auto 20px auto;
        text-align: center;
        width: 300px;
        .title{
          color: $black;
          font-family: $Raleway;
          font-weight: 700;
          font-size: 25px;
        }
      }
      .download-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        

        .download-entrie{
          position: relative;
          width: 280px;
          height: 400px;
          margin: 40px 40px;
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border-radius: 20px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          color: $black;
          font-family: $Raleway;
          font-weight: 500;
          font-size: 18px;
          padding: 25px;

          .photo-container{
            margin: 0 auto;
            top: 30px;
            left: 0;
            right: 0;
            position: absolute;
            height: 100px;
            width: 100px;
            content: '';
            border-radius: 50px;
            background-color: yellow;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

            img{
              object-fit: cover;
            }
          }

          .arrow-container{
            margin: 0 auto;
            top: 130px;
            left: 0;
            right: 0;
            position: relative;
            height: 60px;
            width: 60px;
            content: '';
            border-radius: 60px;
            background-color: $darkblue;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          }
          .title{
            font-weight: 700;
            margin-top: 155px;
          }
          .description{
            margin-top: 20px; 
          }
          .download-footer{
            margin-top: 20px;
          }
        }
      }
      .loadmore{
        width: 180px;
        height: 40px;
        margin: 25px auto;
        background-color: $blue;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span{
          font-family: $Raleway;
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
          text-align: center;
        }
        &:hover{
          background-color: $aquamarine;
        }
      }
    }
  }

}
