.home {

    position: relative;
    background: linear-gradient(180deg,
            rgba(65, 204, 255, 0.95) 0%,
            rgba(65, 175, 255, 0.342) 100%);
    z-index: 50;




    h1 {
        font: 900 5rem $Raleway;
        color: $darkblue;
        padding-top: 40px;
        padding-left: 40px;
    }

    p {
        font: 300 1.5rem $Raleway;
        color: $white;
        padding-left: 40px;

    }


    .play-button {
        display: none;
    }


    /* BUTTON TECH LVEL */
    .techlevel {
        opacity: 0;
    }

    .bubbles {
        position: absolute;
        top: 10%;
        transform: scale(0.7);
    }

    .mainwave{
        position: absolute;
        bottom:-75px;
    }


}


@media (min-width:1200px) {
    
    video{
        display: none;

    }

    @keyframes rollvideo {

        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
        
    }
    
    .home {
        position: relative;
        background: linear-gradient(180deg,
                rgba(65, 204, 255, 0.95) 0%,
                rgba(65, 175, 255, 0.342) 100%);
        z-index: 100;
        
        // FIRST TITLES 
        h1 {
            font: 900 7rem $Raleway;
            padding-top: 70px;
            padding-left: 80px;
        }

        &>p {
            font: 300 2rem $Raleway;
            padding-left: 80px;
            padding-bottom: 50px;

        }


        /* BUTTON TECH LEVEL */
        .techlevel {
            opacity: 1;
            width: 350px;
            height: 70px;
            border-radius: 30px;
            background-color: $secondblue;
            position: absolute;
            bottom: -70px;
            right: 20px;
            display: flex;
            align-items: center;
            z-index: 30;


            &>p {
                font: 400 1.25rem $Raleway;
                text-align: center;

                &>.techlevelspan {
                    font-weight: 700;
                    color: $darkblue;
                }
            }

            &>.rightarrowcontainer {
                color: $aquamarine;
                font-size: 40px;
                margin-left: 50px;
                cursor: pointer;
            }
        }


        .play-button {
            display: block;
            position: absolute;
            color: $aquamarine;
            font-size: 8.5rem;
            top: 130px;
            left: 45%;
            cursor: pointer;

            &:hover {
                transition: 0.2s;
                transform: scale(1.09);

            }
        }

        .bubbles {
            transform: none;
            top: 30%;
            z-index: 30;

        }

        
    }
    
}
.mainwave{
    position: absolute;
    // bottom:-300px;
    z-index: -10;
    overflow: hidden;
}