.carrousel {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &>h2 {
        font: 800 2rem $Raleway;
        text-align: center;

    }

    /* SLIDER */

    &>.slider-container {
        background: white;
        border-radius: 20px;
        width: 100%;
        margin-top: 25px;
        padding: 25px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        position: relative;



        &>.slidertrack {
            display: flex;
            height: 200px;
            width: calc(400px *7);
            align-items: center;
            animation: scroll 20s linear infinite;

            &>img {
                width: 300px;
                height: 150px;
                margin: 0 100px;
            }


            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-400px * 7 - (100px / 2 + 8px)))
                }
            }
        }

    }

    &>.statistics {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        &>h3 {
            font: 300 1.2rem $Raleway;
            text-align: center;

            &>span.statistics-numbers {
                font: 300 1.7rem $Prata;
            }

        }


    }


}


@media (min-width:1200px) {

    .carrousel {

        &>h2 {
            font: 800 3rem $Raleway;
        }

        &>.slider-container {

            /* X - Y - BLUR -SPREAD */
            box-shadow: 0 0px 40px 40px rgba(0, 0, 0, .125);
            margin-top: 50px;


            &::before,
            &::after {
                background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                content: "";
                height: 100%;
                position: absolute;
                width: 400px;
                z-index: 2;
            }

            &::after {
                right: 0;
                top: 0;
                transform: rotateY(180deg);
            }

            &::before {
                left: 0;
                top: 0;
            }

        }




        &>.statistics {

            &>h3 {
                font: 300 2rem $Raleway;
                text-align: center;

                &>span.statistics-numbers {
                    font: 300 2.5rem $Prata;
                }

            }

        }
    }

}