.home-solutions {

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
        font: 800 3rem $Raleway;
        color: $black;
        text-align: center;
        max-width: 90vw;
    }

    p {
        margin-top: 20px;
        font: 300 1.5rem/50px $Raleway;
        text-align: center;
        max-width: 90vw;


    }

    .card-solutions-container {
        margin-top: 40px;
        width: 60vw;
        margin-bottom: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card-solutions {
        margin-top: 45px;
        position: relative;
        width: 240px;
        height: 320px;
        background: #FEFFFF;
        opacity: 0.75;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &>img {
            transform: scale(0.85);
        }

        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.04);

        }

        &>h3 {
            position: absolute;
            align-self: center;
            bottom: 20px;
            font: 400 1.8rem/50px $Raleway;
            color: #07152c;

        }
    }
}

@media (min-width:800px) {
    .home-solutions {
        margin-top: 300px;

    }
}


@media (min-width:1200px) {

    .home-solutions {

        h2 {
            font: 800 4.3rem $Raleway;
        }

        p {
            font: 300 2rem/50px $Raleway;
        }

        .card-solutions-container {
            flex-direction: row;
        }

        .card-solutions {
            margin-top: 0;
        }


    }

}