.phraseobstacles {
    margin-top: 40px;
    background-color: #031225;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100vw;

    &>p {
        padding: 20px 0;
        text-align: justify;
        font: 200 $PMobile $Raleway;
        color: white;
        max-width: 80vw;

    }

    &>picture {
        order: -1;
        padding-top: 25px;

        &>img {

            width: 80vw;
        }
    }

    &>h3 {
        padding: 25px 0px 50px 0px;
        font: 400 1.5rem $Raleway;
        text-align: center;
        color: $darkblue;

    }
}


@media (min-width:800px) {

    .phraseobstacles {
        background: rgb(10, 38, 94);
        background: linear-gradient(90deg, rgba(10, 38, 94, 0.9484628398766678) 0%, rgba(3, 18, 37, 1) 42%);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        height: 500px;
        margin: 85spx 0 0 0;

        &>p {
            text-align: justify;
            font: 200 2rem/50px $Raleway;
            color: white;
            max-width: 40vw;
        }

        &>picture {
            order: 2;
            padding-top: none;
            position: static;

            &>img {

                width: 40vw;
            }
        }
    }



}