//Constants loaded
@import'variables';
//Normalize file
@import 'normalize';


//MOBILE LEARN EXPERTS
.learn-experts{
  position: relative;
  z-index: 10;
  background-color: $white;
  border: 2px solid red;
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
  //Controla el fondo
  &.waves{
    position: relative;
    z-index: 0;
    
    &::after{
      display: block;
      background-image: url('../../assets/svgola1.svg');
      position: absolute;
      content: '';
      width: 150%;
      height: 70%;
      z-index: 0;
      top: 30px;
      left: 0px;
      background-repeat: no-repeat;
      
    }
  }
  .experts-content{
    z-index: 10;
    height: 500px;
    .title-container{
      margin: 40px auto 20px auto;
      text-align: center;
      width: 300px;
      .title{
        color: $black;
        font-family: $Raleway;
        font-weight: 700;
        font-size: 25px;
      }
    }
    .contacts-carrousel{
      display: flex;
      margin: 10px;
      width: 440px;
      border: $test;
      // overflow-x: hidden;

      .contact-card{
        position: relative;
        margin: 50px 20px 10px 0px;
        width: 50%;

        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        color: $black;
        font-family: $Raleway;
        font-weight: 500;
        font-size: 16px;


        .photo{
          position: absolute;
          right: -10px;
          left: unset;
          top: -40px;
          border: $darkblue;
          background-color: $darkblue;
          border-radius: 50px;
          width: 70px;
          height: 70px;
          img{
            object-fit: cover;
          }
        }
        .name-container{

          span{

          }
        }
        .experience{
          .description{

          }
        }
        .contact-CTA{

        }
      }
    }
  }
}

//DESKTOP LEARN EXPERTS
@media(min-width:1440px){
  .learn-experts{
    position: relative;
    z-index: 10;
    background-color: $white;
    border: 2px solid red;
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    //Controla el fondo
    &.waves{
      position: relative;
      z-index: 0;
      
      &::after{
        display: block;
        background-image: url('../../assets/svgola1.svg');
        position: absolute;
        content: '';
        width: 150%;
        height: 70%;
        z-index: 0;
        top: 30px;
        left: 0px;
        background-repeat: no-repeat;
        
      }
    }
    .experts-content{
      z-index: 10;
      height: 500px;
      .title-container{
        margin: 40px auto 20px auto;
        text-align: center;
        width: 300px;
        .title{
          color: $black;
          font-family: $Raleway;
          font-weight: 700;
          font-size: 25px;
        }
      }
      .contacts-carrousel{
        display: flex;
        margin: 10px;
        width: 900px;
        border: $test;
        overflow-x: scroll;
  
        .contact-card{
          position: relative;
          margin: 70px 20px 10px 0px;
          width: 300px;
          height: 200px;
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border-radius: 30px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          color: $black;
          font-family: $Raleway;
          font-weight: 500;
          font-size: 18px;
  
  
          .photo{
            position: absolute;
            right: -10px;
            left: unset;
            top: -60px;
            border: $darkblue;
            background-color: $darkblue;
            border-radius: 80px;
            width:110px;
            height: 110px;
            img{
              object-fit: cover;
            }
          }
          .name-container{
            margin: 10px 15px;
            width: 150px;
            border: $test;
          }
          .experience{
            margin: 18px 15px;
            .description{
              
            }
          }
          .contact-CTA{
            width: 100%;
            text-align: center;
          
          }
        }
      }
    }
  }
  
}