//Constants loaded
@import'variables';
//Normalize file
@import 'normalize';

//
//MOBILE REGISTER
//

.register-section{
  width: 100%;
  
  .register-container{
    position: fixed;
    right: 10px;
    left: unset;
    top: 50px;
    background-color: $lightblue;
    border-radius: 50px;
    width: 250px;
    height: 335px;
    
    
    .logo-container{
      
      width: 120px;
      height: 150px;
      position: absolute;
      left: -30px;
      right: unset;
      top: -30px;
      
    }
    .close-register{
      border-radius: 50px;
      background-color: $green;
      width: 40px;
      height: 40px;
      position: absolute;
      left: unset;
      right: 10px;
      top: -20px;
      cursor: pointer;
    }
    .register-message{
      
      background-color: $bluecontrast;
      border-radius: 50px;
      margin: 20px;
      
      .message{
        font-family:$Raleway;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: $white;
        padding: 20px;
        
        
      }
    }
    .register-form{

      margin-top: -10px ;

      .name-container{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        

        .name-box{
          background-color: $green;
          border-radius: 50px;
          margin: 0;
          width: 90px;
          height: 20px;

          .name{
            display: flex;
            width: 120px;
            padding: 2px 0px 2px 15px;
            font-family:$Raleway;
            font-weight: 700;
            font-size: 15px;
            color: $bluecontrast;
            align-self: center;
            
          }
        }
        .input-box{
          display: flex;
          background-color: $aquamarine;
          border-radius: 50px;
          margin: 10px 0px 10px 20px;
          left: unset;
          right: 0px;
          width: 185px;
          height: 25px;

          .name-input{
            display: flex;
            background-color: $aquamarine;
            width: 90%;
            border: 0;
            margin: 0px 10px;
            outline: none;
            font-family:$Raleway;
            font-weight: 700;
            font-size: 15px;
            color: $darkblue;

            &::placeholder{
              color: $bluecontrast
            }
            
          }
        }

      }
      .email-container{
        display: flex;
        flex-direction: column;
        margin: 0px 20px;

        .email-box{
          background-color: $green;
          border-radius: 50px;
          margin: 0;
          width: 90px;
          height: 20px;
          .email{
            display: flex;
            width: 120px;
            padding: 2px 0px 2px 15px;
            font-family:$Raleway;
            font-weight: 700;
            font-size: 15px;
            color: $bluecontrast;
            align-self: center;
          }

        }
        .input-box{
          display: flex;
          background-color: $aquamarine;
          border-radius: 50px;
          margin: 10px 0px 10px 20px;
          left: unset;
          right: 0px;
          width: 185px;
          height: 25px;

          .email-input{
            display: flex;
            background-color: $aquamarine;
            border: 0;
            width: 90%;
            margin: 0px 10px;
            outline: none;
            font-family:$Raleway;
            font-weight: 700;
            font-size: 15px;
            color: $darkblue;

            &::placeholder{
              color: $bluecontrast;
            }
            
          }
        }
        
      }
      .register-send{
        background-color: $aquamarine;     
        height: 35px;
        width: 80%;
        border-radius: 50px;
        border: 0;
        margin: 0px 10%;
        color: $blue;
        font-weight: 700;
        font-family:$Raleway;
        font-size: 15px; 
        position: absolute;
        cursor: pointer;

      }
    }

  }
}


//
//DESKTOP REGISTER
//
@media(min-width:1440px){
  .register-section{
    height: 270px;
    border: 1px solid red;
    .register-container{
      display: flex;
      top: 50px;
      width: 500px;
      height: 200px;
      
      .logo-container{
        width: 120px;
        height: 150px;
        position: absolute;
        left: -60px;
        top: -30px;
        
      }
      .close-register{
        width: 50px;
        height: 50px;
        top: -25px;
      }
      .register-message{
        
        width: 250px;
        position: absolute;
        left: -130px;
        
        .message{

          font-size: 18px;
          
        }
      }
      .register-form{
  
        margin: 35px 0px 0px 130px;
  
        .name-container{
          
          flex-direction: row;
          
          .name-box{

            height: 35px;
            text-align: center;
  
            .name{
              padding: 6px 0px 2px 10px;
              font-size: 18px;
              
            }
          }
          .input-box{

            margin: 0px 0px 0px 20px;
            right: 0px;
            width: 220px;
            height: 35px;
  
            .name-input{
              font-size: 18px;
              color: $darkblue;
              
            }
          }
  
        }
        .email-container{
          flex-direction: row;
          margin: 5px 20px;
  
          .email-box{

            margin: 10px 0px;
            height: 35px;
            .email{

              padding: 6px 0px 2px 10px;
              font-size: 18px;
            }
  
          }
          .input-box{

            left: unset;
            right: 0px;
            width: 220px;
            height: 35px;
  
            .email-input{

              font-size: 18px;
              
            }
          }
          
        }
        .register-send{
          height: 50px;
          width: 50%;
          font-size: 18px; 
          left: 130px;
          bottom: 15px;
  
        }
      }
    }
  }
}