.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    background: linear-gradient(179.99deg, #D29BEC -17.93%, rgba(65, 204, 255, 0.78) 138.48%);
    opacity: 0.3;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    margin: 30px 0 0 0;

    & .carditem {
        width: 90vw;

        // THE QUESTION ITSELF
        & .card__question {
            width: 90%;
            text-align: start;
            font-size: 1.5rem;
            font-weight: 800;
        }

        // POSSIBLE ANSWERS IN THE QUESTION
        & .card__optionscontainer {
            display: flex;
            margin-top: 50px;
            flex-wrap: wrap;
            gap: 20px;

            & .cardoption__item {
                @include flexcenter;
                background-color: white;
                position: relative;
                min-height: 60px;
                width: 90vw;
                cursor: pointer;
                border-radius: 5px;
                /* offset-x | offset-y | blur-radius | color */
                box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.103);

                &:hover,
                &:hover>label {
                    background-color: gainsboro;
                }

                & label {
                    @include flexcenter;
                    border-radius: 5px;
                    padding: 15px 10px 15px 30px;
                    text-align: justify;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    color: #5e5858;
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 25px;

                }

                & input {
                    opacity: 0.8;
                    border-radius: 2px;
                    position: absolute;
                    background-color: gainsboro;
                    left: 10px;

                    &:checked+label {
                        background-color: gainsboro;
                    }

                    // LETS STYLE THE RADIO BUTTONS
                    &[type="radio"] {
                        display: none;

                        &+label:before {
                            content: "";
                            position: absolute;
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            border: 2px solid black;
                            left: 10px;
                        }

                        &:checked+label:before {
                            width: 4px;
                            height: 4px;
                            border: 4px solid whitesmoke;
                        }
                    }

                    // LETS STYLE THE CHECKBOX
                    &[type="checkbox"] {
                        // display: none;
                        appearance: none;
                        -webkit-appearance: none;
                        // background-color: rosybrown;
                        width: 13px;
                        height: 13px;
                        border-radius: 1px solid gray;

                        &+label::after {
                            display: none;
                            position: absolute;
                            left: 10px;
                            color: whitesmoke;
                            font-family: "Font Awesome 5 Free";
                            content: "\f14a";
                            font-weight: 800;
                        }

                        &:checked+label:after {
                            display: block;
                        }
                    }
                }

                & .textInput {
                    height: 35px;
                    background-color: #856eec96;
                    min-width: 120px;
                    font-size: 1rem;
                    padding: 5px 20px;
                    position: absolute;
                    right: 10px;
                    top: 80px;

                    &:disabled {
                        background-color: whitesmoke;
                    }
                }

            }


        }
    }



}

button {
    background: #946dd3;
    display: block;
    width: 70vw;
    padding: 15px 30px;
    margin: 30px auto;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}



@media (min-width:500px) and (max-width: 750px) {

    /* first media for mobile*/
    .card__container {

        & .carditem {
            width: 70%;
        }
    }

}


@media (min-width:750px) and (max-width: 1230px) {

    /* tablet, landscape iPad */
    .card__container {

        & .carditem {

            // THE QUESTION ITSELF
            & .card__question {
                width: 95%;
                font-size: 2rem;
            }

            // POSSIBLE ANSWERS IN THE QUESTION
            & .card__optionscontainer {
                justify-content: center;

                & .cardoption__item {
                    min-width: 300px;
                    min-height: 60px;
                    width: 42%;

                    &:hover,
                    &:active,
                    &:focus,
                    &:hover>label {
                        background-color: #856eec16;
                    }

                    & input {

                        &:checked+label {
                            background-color: #856eec3a;
                        }

                        // LETS STYLE THE RADIO BUTTONS
                        &[type="radio"] {

                            &:checked+label:before {
                                border: 4px solid #856eecc5;
                            }
                        }

                        // LETS STYLE THE CHECKBOX
                        &[type="checkbox"] {

                            &+label::after {
                                color: #856eecc5;
                            }
                        }
                    }
                }
            }
        }
    }

    button {
        margin-top: 50px;
        width: 300px;
    }

}


@media (min-width:1230px) {
    /* big landscape tablets, laptops, and desktops */

    .sidebar {
        right: unset;
        width: 300px;
        z-index: -10;
    }

    .card__container {
        align-items: flex-end;
        gap: 110px;
        margin: 70px 0 0 0;

        & .carditem {
            width: 70vw;
            padding-right: 20px;

            // THE QUESTION ITSELF
            & .card__question {
                font-size: 2rem;
            }

            // POSSIBLE ANSWERS IN THE QUESTION
            & .card__optionscontainer {
                justify-content: flex-start;

                & .cardoption__item {
                    min-height: 60px;
                    width: 410px;

                    &:hover,
                    &:hover>label {
                        background-color: #856eec16;
                    }

                    & input {
                        background-color: gainsboro;

                        &:checked+label {
                            background-color: #856eec3a;
                        }

                        // LETS COLORIZE THE RADIO BUTTONS
                        &[type="radio"] {
                            display: none;

                            &+label:before {
                                border: 2px solid gainsboro;
                            }

                            &:checked+label:before {
                                border: 4px solid #856eecc5;
                            }
                        }

                        // LETS COLORIZE THE THE CHECKBOX
                        &[type="checkbox"] {

                            &+label::after {
                                color: #856eecc5;
                            }
                        }
                    }

                    & .textInput {
                        background-color: #856eec16;

                        &:disabled {
                            background-color: whitesmoke;
                        }
                    }
                }
            }
        }

    }

    button {
        width: 270px;
        position: relative;
        left: 70%;
        margin: 40px;
    }

    @include bubbleAnimation;

}