main {

    & .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 80px);
        @include bubbleAnimation;

        .bubbles {
            opacity: 0.7;
        }

        & .results__graphic {
            display: none;

        }

        &>.results__data {
            z-index: 10;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.unset {
                background: unset !important;
            }

            & .data__character {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 200px;
                gap: 20px;
                z-index: 20;

                & h2 {
                    color: white;
                    font-weight: 400;
                    z-index: 20;

                }

                & img {
                    border-radius: 50%;
                    width: 140px;
                    object-fit: cover;
                }
            }

            & .data__punctuation--mobile {
                color: whitesmoke;
                display: inline;
                margin: 20px;
                text-align: justify;
                font-weight: 900;
                max-width: 90vw;
                font-size: 1.4rem;
            }

            & .data__desc {
                text-align: justify;
                max-width: 90vw;
                font-size: 1.4rem;
                line-height: 30px;
            }

            & .data__advice {
                & a {
                    text-decoration: none;
                    background-color: #109CFF;
                    display: block;
                    padding: 15px 30px;
                    margin: 40px auto;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 700;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width:600px) and (max-width: 1000px) {
    /* tablet, landscape iPad */

    main {
        & .results {
            &>.results__data {
                & .data__character {
                    margin-top: 10px;

                    & img {
                        width: 170px;
                    }
                }


            }
        }
    }
}


@media (min-width:1000px) {
    /* tablet, landscape iPad */

    main {
        overflow: hidden;

        & .results {

            flex-direction: row;
            background: unset !important;

            & .results__graphic {
                display: block;
                width: 900px;
                height: 100%;
                @include flexcenter;
                height: 100%;
                z-index: -10;

                & h2 {
                    font-size: 7.5rem;
                    color: white;
                    z-index: 30;
                    font-weight: 200;
                    letter-spacing: 15px;
                }
            }

            &>.results__data {
                height: 100%;
                @include flexcenter;

                & .data__character {
                    background-color: unset !important;
                    background: unset !important;
                    height: 300px;

                    & img {
                        width: 180px;
                        height: 180px;
                    }

                    & .character__name {
                        font-size: 2rem;
                    }
                }

                &>.data__desc {
                    max-width: 90%;
                    font-size: 1.5rem;
                    line-height: 35px;
                    color: whitesmoke;
                }

                & .data__punctuation--mobile {
                    display: none;
                }

                & .data__advice {
                    a {
                        background-color: #109CFF;
                    }
                }
            }
        }
    }
}