/* ---RELYER--- */

/* COLORS */

/* Layers */

$lightblue: #41CCFF;
$blue: #6E80EC;
$purple: #BBAAE8;
$orange: #EC9E5F;
$green: #7DDC98; // Possible option
$white: white;

/* Call to action */

$aquamarine: #08FFBA;

/* Titles */

$darkblue: #1A3256;
$black: #010913;

/* Contrast */

$bluecontrast: #708DDC;
$graycontrast: #F6F6FC;


/* FONTS */

$Raleway:'Raleway', sans-serif;
$Prata: 'Prata', serif;