@import 'normalize';
@import '_aboutChooseUs.scss';
@import '_aboutReviews.scss';
@import '_aboutSkills.scss';
@import '_aboutSlider.scss';
@import '_aboutTeam.scss';
@import '_aboutValues.scss';
@import '_aboutWeGive.scss';

html{
    background-image: url(/assets/svgola1.svg);
    background-repeat: no-repeat;
    background-position-y: 350px; // Para mover la imagen de fondo
}

body{
    min-width: 320px;
    overflow-x: hidden;
}