@import 'normalize';
@import 'variables';


/* MOBILE FIRST*/
nav {

    background-color: rgba(65, 204, 255, 0.95);

    &>ul {

        &>.nav-list1 {
            &>.relyer-logo {
                width: 150px;
                height: 140px;
                margin-top: 20px;
                margin-left: 30px;
            }
        }
        &>.nav-list2,
        &>.nav-list3,
        &>.language {
            display: none;
        }
    }

    &>.hamburguer {
        width: 50px;
        height: 40px;
        top: 60px;
        right: 40px;
        z-index: 500;
        display: block;
        position: absolute;
        cursor: pointer;

        &>span {
            width: 100%;
            height: 6.5px;
            margin-top: 10px;
            border-radius: 25px;
            display: block;
            background-color: $black;
        }
    }

    .responsive-nav {
        transform: translateX(-100%);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.9;
        z-index: 400;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkblue;

        &>ul {
            height: 70px;
            gap: 60px;
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            text-align: center;
            cursor: pointer;
            color: $white;

            &>.responsive1:hover,
            &>.responsive2:hover,
            &>.responsive3:hover,
            &>.responsive4:hover {
                color: $purple;
            }

        }
    }

}



/* DESK */
@media (min-width:1200px) {

    nav {
        top: 0;
        left: 0;
        z-index: 1000;
        position: sticky;
        display: flex;
        transition: 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

        /* WHEN THE NAVIGATOR IS STICKY */
        &.sticky {
            opacity: 0.95;
            background-color: $white;

            &>ul {

                &>.nav-list1 {
                    .relyer-logo {
                        width: 90px;
                        height: 95px;
                        // margin-top: 15px;
                        margin-right: 56px;
                        margin-left: 56px;
                    }
                }

                &>.nav-list2 {
                    &>.main-sections {
                        height: 105px;
                        color: $darkblue;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.836);
                        }
                    }
                }

                &>.nav-list3 {
                    &>.login {
                        background-color: $bluecontrast;
                        &:hover {
                            background-color: #708ddcdc;
                        }
                    }
                }

            }

        }

        ul {

            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 70px;

            &>li {
                display: flex;
            }

            .nav-list1>.relyer-logo {
                width: 110px;
                height: 120px;
                margin-left: 56px;
                cursor: pointer;
            }

            .nav-list2 {
                display: flex;
                gap: 70px;

                &>.main-sections {
                    border-radius: 5px;
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    text-align: left;
                    width: fit-content;
                    color: whitesmoke;

                    &:hover {
                        border-bottom: 5px solid $aquamarine;
                        cursor: pointer;
                        background-color: #46cbfc9d;
                    }

                    &>h3 {
                        font: 700 22px/28px "Raleway";
                        margin-bottom: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                        align-self: flex-end;

                    }
                }
            }

            .nav-list3 {

                gap: 22px;
                padding-right: 35px;
                display: flex;
                justify-content: space-between;

                &>.login,
                &>.register {
                    width: 145px;
                    height: 44px;
                    border-radius: 50px;
                    font: 900 26px/40px "Raleway";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: #08ffb9ad;
                    color: rgb(255, 255, 255);
                    text-decoration: none;

                    &:hover {
                        background: #16fdbc8c;
                    }
                }

                &>.language {
                    width: 100px;
                    height: 44px;
                    border-radius: 50px;
                    display: flex;
                    border-radius: 50px;
                    position: relative;
                    justify-content: space-around;
                    align-items: center;
                    cursor: pointer;
                    background-color: $bluecontrast;
                    color: white;

                    &>.language-flag {
                        transform: scale(0.7);
                    }

                    &>.fa-sort-down {
                        font-size: 1.5rem;
                        position: absolute;
                        right: 5px;
                        top: 5px;
                    }

                    &:hover {
                        background-color: #708ddcdc;
                    }
                }

            }

        }


        &>.hamburguer {
            display: none;
            &>span {
                display: none;
            }
        }

        .responsive-nav {
            display: none;
        }
    }

}