main{
    #inicioTest {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $titles;
            margin-top: 3%;
            font-size: 2em;
            text-align: center;
        }
        p {
            width: 80%;
            margin-top: 3%;
            font-size: 1em;
            text-align: start;
        }
        #pasos {
            width: 80%;
            margin-top: 2%;
            #parrafo-pasos {
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                color: #cccccc;
                width: 100%;
            }
            h2 {
                color: $titles;
                margin-top: 3%;
                font-size: 1.5em;
                text-align: start;
                line-height: 1.5;
            }
            p {
                font-size: 1em;
                text-align: start;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 5%;
                img {
                    width: 70%;
                    height: auto;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        width: 100%;
                    }
                }
            }
        }
        .button {
            margin-top: 0%;
            width: 80%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5%;
            a {
                font-size: 1em;
                text-decoration: none;
                color: #000000;
                padding: 3% 5%;
                background-color: #70ffd7;
                border-radius: 100px;
            }
        }
    }
}
    @media screen and (min-width: 768px) {
        main {
            #inicioTest {
                p {
                    width: 80%;
                }
                #pasos {
                    div {
                        flex-direction: row;
                        img {
                            width: 30%;
                            margin-right: 5%;
                        }
                    }
                }
                .button {
                    margin-top: 0%;
                    a {
                        padding: 2% 3%;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1200px) {
        main {
            #inicioTest {
                p {
                    width: 60%;
                }
                #pasos {
                    width: 60%;
                    div {
                        flex-direction: row;
                        vertical-align: initial;
                        img {
                            width: 20%;
                            margin-right: 5%;
                        }
                        div {
                            align-self: center;
                            line-height: 20px;
                        }
                    }
                }
                .button {
                    width: 60%;
                    margin-top: 0%;
                    a {
                        padding: 1% 3%;
                    }
                }
            }
        }
    }
